<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.skripsi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".HasilDiagnosa"></activity>
        <activity
            android:name=".TambahHubungan"
            android:parentActivityName=".MenuHubungan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuHubungan" />
        </activity>
        <activity
            android:name=".MenuHubungan"
            android:parentActivityName=".DashboardAdmin">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DashboardAdmin" />
        </activity>
        <activity
            android:name=".Diagnosa"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".UpdatePenyakit"
            android:parentActivityName=".MenuPenyakit">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuPenyakit" />
        </activity>
        <activity
            android:name=".TambahPenyakit"
            android:parentActivityName=".MenuPenyakit">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuPenyakit" />
        </activity>
        <activity
            android:name=".MenuPenyakit"
            android:parentActivityName=".DashboardAdmin">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DashboardAdmin" />
        </activity>
        <activity
            android:name=".UpdateGejala"
            android:parentActivityName=".MenuGejala">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuGejala" />
        </activity>
        <activity
            android:name=".MenuGejala"
            android:parentActivityName=".DashboardAdmin">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DashboardAdmin" />
        </activity>
        <activity
            android:name=".TambahGejala"
            android:parentActivityName=".MenuGejala">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuGejala" />
        </activity>
        <activity
            android:name=".Riwayat"
            android:parentActivityName=".DashboardAdmin">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DashboardAdmin" />
        </activity>
        <activity android:name=".DashboardAdmin" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>